<div class="container col-md6 mx-auto pt-5">
    <div class="card p-4">
        <div class="voces-container mt-4">
            <select [(ngModel)]="voz" class="form-select" aria-label="Default select example">
                <option value="" disabled>Menu de voces</option>
                <option *ngFor="let v of voces" [value]="v">{{v}}</option>
            </select>
        </div>
        <div class="entrada-container mt-4 text-center">
            <textarea [(ngModel)]="entrada" name="" id="" placeholder="Ingrese texto a traducir" class="w-100"></textarea>
        </div>
        <div class="button-container mt-3 text-center mt-5">
            <button (click)="conversionAudio()" class="btn btn-outline-success btn-lg">Convertir</button>
        </div>
        <div class="audio-container text-center pt-5">
            <audio [src]="url" controls class="mt-4 w-100"></audio>
        </div>
    </div>
</div>