<div class="footer bg-dark text-white py-5">
		<div class="container">
			<div class="row">
				<div class="col col-md-6 col-lg-3">
					<a href="/" class="container-logo d-flex gap-3" style="text-decoration: none;">
						<span>Peliculero</span>
					</a>
					<div class="mt-4">
						<span>Siguenos </span>
						<div class="links mt-2 d-flex gap-3">
							<a href="https://www.facebook.com/?locale=es_LA">
								<i class="sprite-icon icon-fb"></i>
							</a>
							<a href="https://x.com/home">
								<i class="sprite-icon icon-tw"></i>
							</a>
							<a href="https://www.instagram.com/p/DXc4Y1Jlix5/?img_index=2">
								<i class="sprite-icon icon-ig"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col col-md-6 col-lg-3 mt-2">
					<span>Sobre nosotros</span>
					<ul class="list-unstyled">
						<!-- <li>
							<a class="text-decoration-none text-white-50" href="#">Nuestra Historia</a>
						</li> -->
						<li>
							<a class="text-decoration-none text-white-50" href="#">Sugerencia de Peliculas</a>
						</li>
						<li>
							<a class="text-decoration-none text-white-50" href="#">Términos y condiciones</a>
						</li>
						<li>
							<a class="text-decoration-none text-white-50" href="#">Preguntas Frecuentes</a>
						</li>
					</ul>
				</div>
				<div class="col col-md-6 col-lg-3 mt-2">
					<span>Soporte</span>
					<ul class="list-unstyled">
						<li>
							<a class="text-decoration-none text-white-50" href="#">Soporte al cliente</a>
						</li>
						<li>
							<a class="text-decoration-none text-white-50" href="#">Politicas de privacidad</a>
						</li>
						<li>
							<a class="text-decoration-none text-white-50" href="#">Contactanos</a>
						</li>
					</ul>
				</div>
				<div class="col col-md-6 col-lg-3 mt-2">
					<span>Suscribite</span>
					<p class="text-white-50">Recibí ofertas y novedades</p>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Tu email" aria-label="First name">
						<button type="submit" class="btn btn-primary">Sign in</button>
					</div>
				</div>
				
			</div>
			<div class="col text-center mt-5">
				<p class="copyright">
					&copy; 2026 Peliculero | Desarrollado por Gerardo Aramayo
				</p>
			</div>
		</div>
	</div>
