.sprite-icon{
	margin-top: 10px;
	width: 32px;
	height: 32px;
	background-image: url('/sprite-logos.png');
	background-size: 204px auto;
	background-repeat: no-repeat;
	display: inline-block;
	transition: transform 0.3s ease;
	
}
.icon-fb{
	background-position: 9% 10%;
}
.icon-tw{
	background-position: 89% 55%;
}
.icon-ig{
	background-position: 62% 9%;
}
.sprite-icon:hover{
	transform: scale(1.2);
	
}